<template>
  <div>
      <h1 class="blue--text font-weight-bold">Hello</h1>
      <h2 class="red--text font-weight-bold">Khunanon Panjom</h2>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>